In [44]:
import pandas as pd
import ast

In [45]:
# Sample DataFrame
data = {
    "timestep": [0, 1], 
    'rewards_per_episode': [
        "{0: [[-0.01, -0.01, -0.01], [-0.01, -0.01, -0.01]], 1: [[0.0, 0.0, 0.0], [0.0, 0.0, 0.0]]}",
        "{0: [[-0.02, -0.02, -0.02], [-0.02, -0.02, -0.02]], 1: [[0.1, 0.1, 0.1], [0.1, 0.1, 0.1]]}"
    ]
}
df = pd.DataFrame(data)


df

   timestep                                rewards_per_episode
0         0  {0: [[-0.01, -0.01, -0.01], [-0.01, -0.01, -0....
1         1  {0: [[-0.02, -0.02, -0.02], [-0.02, -0.02, -0....

In [48]:
def convert_dataframe(dataframe: pd.DataFrame):

    def extract_keys(data_str):
        # Convert string to dictionary
        data_dict = ast.literal_eval(data_str)
        dat_dict_values = data_dict.values()
        new_values = []
        for  venc_env_number in dat_dict_values:
            for evaluation_episode in venc_env_number:
                new_values.append(sum(evaluation_episode))
        # Return the dictionary (pandas will handle this correctly)
        new_values = {i: new_values[i] for i in range(len(new_values))}
        return pd.Series(new_values)

        # Apply the function to the column
    df_extracted = dataframe['rewards_per_episode'].apply(extract_keys)

    # Combine the original DataFrame with the new one
    df_combined = pd.concat([dataframe, df_extracted], axis=1)
    df_combined = df_combined.set_index('timestep')

    df_combined.drop('rewards_per_episode', axis=1, inplace=True)

    df_combined = pd.DataFrame(df_combined.stack())
    df_combined.reset_index(inplace=True)
    del df_combined['level_1']
    df_combined.columns = ['timestep', 'reward']


    return df_combined
    
convert_dataframe(df)

   timestep  reward
0         0   -0.03
1         0   -0.03
2         0    0.00
3         0    0.00
4         1   -0.06
5         1   -0.06
6         1    0.30
7         1    0.30